body {
  margin: 30px;
  font-family: courier;
  background-color: #FFE6EE;
  color: #808080;
}
h1, h2, h3 {
	background-color: #FFB6C1;
	color: #808080;
	padding-top: 20px;
    padding-bottom: 20px;
	text-align: center;
}
main img {
	width:25%;
	height: auto;
	text-align: center;
}
figure {
	width: 75%;
	height: auto;
	text-align: center;
	margin: auto;
}
figcaption {
	font-style: italic;
	text-align: center;
}
p {
	text-align: center;
}
footer {
	text-align: center;
}
footer img {
	width: 88px;
	height: auto;
}
th, td {
	border: 1px solid black;
}
th {
	font-weight: bold;
	font-size: 30px;
}
td {
	font-size: 20px;
}
table {
	border: 3px solid black;
	margin: auto;
	width: 70%;
}
address {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
a:link {
  color: hotpink;
}

a:visited {
  color: red;
}

a:hover {
  color: orange;
}

a:active {
  color: white;
}